.popup__input {
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding: 13px 0 13px 0;
  width: 354px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0;
}